spring:
  application:
    name: facts
  mvc:
    static-path-pattern: /**
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
    show-sql: ${SHOWSQL}
    properties:
      hibernate:
        format_sql: ${SHOWSQL}
  shell:
    interactive:
      enabled: true
    script:
      enabled: true
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: ${MAIL_HOST}

server:
  port: ${SERVER_PORT:4000}
  servlet:
    context-path: /api


my:
  secretkey: ${KEY_SCRET}

file:
  storage:
    provider: minio
    max-size: 104857600
    allowed-types: jpg,jpeg,png,pdf,doc,docx

# Configuration MinIO
minio:
  endpoint: ${MINIO_ENDPOINT}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket-name: ${MINIO_BUCKET_NAME}