<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Borderau de Livraison</title>
</head>
<body style="position: relative; font-family: Arial, sans-serif, Calibri; padding-bottom: 50px;">
<h2 style="text-align: center; margin-top: 180px;">BORDERAU DE LIVRAISON</h2>
<div style="display: flex; flex-direction: column;">
    <div style="padding-left: 450px; margin-bottom: 20px">
        <div style=" overflow-wrap: break-word;">
            <h4 style="text-transform: uppercase; text-decoration: underline">Client:</h4>
            <p><span th:text="${client}"></span><br/><span th:text="${adresse}"></span></p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <table style="border-collapse: collapse; border: solid 1px; align-content: center; text-align: center; max-width: 70%; margin-bottom: 20px">
            <thead>
            <tr style="border: solid 1px; text-align: center; background-color: #cbcbcb;">
                <th style="border: 1px solid">Numéro</th>
                <th style="border: 1px solid">Date</th>
                <th style="border: 1px solid">Références</th>

            </tr>
            </thead>
            <tbody style="border: 1px solid">
            <tr style="border: solid 1px; text-align: center;">
                <td style="border: 1px solid"><span style="margin-right: 5px; margin-left: 5px"
                                                    th:text="${numero}"></span></td>
                <td style="border: 1px solid"><span style="margin-right: 5px; margin-left: 5px"
                                                    th:text="${date}"></span></td>
                <td style="border: 1px solid"><span
                        style="margin-right: 5px; margin-left: 5px; color: red; overflow-wrap: break-word"
                        th:text="${reference}"></span></td>
            </tr>
            </tbody>
        </table>
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px">
            <thead>
            <tr style="border: solid 1px; text-align: center; background-color: #cbcbcb;">
                <th style="border: 1px solid; width: 2%">Ref.</th>
                <th style="border: 1px solid; width: 30%">DESIGNATION</th>
                <th style="border: 1px solid; width: 10%">PU</th>
                <th style="border: 1px solid; width: 5%">Qte</th>
                <th style="border: 1px solid; width: 10%">TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="art, iterStat : ${articles}" style="border: solid 1px;">
                <td style="border-left: 1px solid; text-align: center" th:text="${iterStat.index + 1}"></td>
                <td style="border-left: 1px solid; text-indent: 15px" th:text="${art.article}"></td>
                <td style="border-left: 1px solid; text-align: center" th:text="${art.prix_article}"></td>
                <td style="border-left: 1px solid; text-align: center" th:text="${art.quantite}"></td>
                <td style="border-left: 1px solid; border-right: 1px solid;  text-align: right"
                    th:text="${art.montant}"></td>
            </tr>
            <tr style="border-top: solid 1px">
                <td colspan="5" style="border-top: 1px solid; "></td>
            </tr>
            </tbody>
        </table>
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px">
            <tr style="border: 1px solid; text-align: center; background-color: #cbcbcb; font-weight: bolder">
                <td style="border: 1px solid; width: 50%;">Pour <span th:text="${client}"></span></td>
                <td style="border: 1px solid; width: 50%;">Pour SOOSMART GROUP</td>
            </tr>
            <tr style="border: 1px solid; height: 150px">
                <td style="border: 1px solid;"></td>
                <td style="border: 1px solid;"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>