<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FACTURE</title>
</head>
<body style="position: relative; font-family: Arial, sans-serif, Calibri; padding-bottom: 50px; padding-top: 150px;">

<div style="display: flex; flex-direction: column;">
    <div style="padding-left: 450px; margin-bottom: 20px">
        <div style=" overflow-wrap: break-word;">
            <p><span th:text="${client}"></span><br/><span th:text="${adresse}"></span></p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <h2 style="text-align: left; margin-top: 10px;">FACTURE</h2>
        <table style="border-collapse: collapse; border: solid 1px; align-content: center; text-align: center; max-width: 70%; margin-bottom: 20px">
            <thead>
            <tr style="border: solid 1px; text-align: center; background-color: #cbcbcb;">
                <th style="border: 1px solid">Numéro</th>
                <th style="border: 1px solid">Date</th>
                <th style="border: 1px solid">Références</th>

            </tr>
            </thead>
            <tbody style="border: 1px solid">
            <tr style="border: solid 1px; text-align: center;">
                <td style="border: 1px solid"><span style="margin-right: 5px; margin-left: 5px"
                                                    th:text="${numero}"></span></td>
                <td style="border: 1px solid"><span style="margin-right: 5px; margin-left: 5px"
                                                    th:text="${date}"></span></td>
                <td style="border: 1px solid"><span
                        style="margin-right: 5px; margin-left: 5px; color: red; overflow-wrap: break-word"
                        th:text="${reference}"></span></td>
            </tr>
            </tbody>
        </table>
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px">
            <thead>
            <tr style="border: solid 1px; text-align: center; background-color: #cbcbcb;">
                <th style="border: 1px solid; width: 2%">Ref.</th>
                <th style="border: 1px solid; width: 30%">DESIGNATION</th>
                <th style="border: 1px solid; width: 10%">PU</th>
                <th style="border: 1px solid; width: 5%">Qte</th>
                <th style="border: 1px solid; width: 10%">TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="art, iterStat : ${articles}" style="border: solid 1px;">
                <td style="border-left: 1px solid; text-align: center" th:text="${iterStat.index + 1}"></td>
                <td style="border-left: 1px solid; text-indent: 15px" th:text="${art.article}"></td>
                <td style="border-left: 1px solid; text-align: center" th:text="${art.prix_article}"></td>
                <td style="border-left: 1px solid; text-align: center" th:text="${art.quantite}"></td>
                <td style="border-left: 1px solid; border-right: 1px solid;  text-align: right"
                    th:text="${art.montant}"></td>
            </tr>
            <tr style="border-top: solid 1px">
                <td colspan="5" style="border-top: 1px solid; height: 10px"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td style="border: 1px solid; background-color: #cbcbcb; padding-left: 10px; padding-right: 10px;text-align: left">
                    <span style="font-weight: bolder">TOTAL HT</span></td>
                <td style="border: 1px solid"><span style="text-align: center; content: '-'"></span></td>
                <td style="border: 1px solid; background-color: #cbcbcb; padding-left: 10px; padding-right: 10px;text-align: right">
                    <span style="font-weight: bolder" th:text="${totalht}"></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td style="border: 1px solid; background-color: #cbcbcb; padding-left: 10px; padding-right: 10px;text-align: left">
                    <span style="font-weight: bolder">TOTAL TVA</span></td>
                <td style="border: 1px solid; text-align: center"><span style="text-align: center">18%</span></td>
                <td style="border: 1px solid; background-color: #cbcbcb; padding-left: 10px; padding-right: 10px;text-align: right">
                    <span style="font-weight: bolder" th:text="${tva}"></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td style="border: 1px solid; background-color: #cbcbcb; padding-left: 10px; padding-right: 10px;text-align: left">
                    <span style="font-weight: bolder">TOTAL TTC</span></td>
                <td style="border: 1px solid"><span style="text-align: center; content: '-'"></span></td>
                <td style="border: 1px solid; background-color: #cbcbcb; padding-left: 10px; padding-right: 10px;text-align: right">
                    <span style="font-weight: bolder" th:text="${totalttc}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 20px; text-indent: 10px">
        <div style=" overflow-wrap: break-word;">
            <p>Arrêté la présente facture à la somme de <span style="font-weight: bolder"
                                                              th:text="${totalttcword}"></span></p>
        </div>
    </div>
    <div style="margin-bottom: 20px; ">
        <div style="padding-right: 5px">
            <p style="font-style: italic;">
                <span style="font-weight: bolder; text-decoration: underline">Termes et conditions standards:</span><br/>
                <span>Payement</span>
                <span> : 60% à la commande</span> <br/>
                <span style="margin-left: 80px">40% à la livraison </span> <br/>
                <span>Délai de livraison : 2 semaines </span> <br/>
                <span>Validité de l'offre : 90 jours </span>
            </p>
        </div>
    </div>
    <div style="padding-left: 450px; margin-bottom: 20px">
        <div style=" overflow-wrap: break-word;">
            <p style="font-weight: bold; "><span th:text="${sign}"></span><br/><span th:text="${role}"></span></p>
        </div>
    </div>
</div>
</body>
</html>